body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1d5175;
    color: #333;
}

header {
    background-color: #1d5175;
    padding: 15px 20px;
    color: white;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.menu img.logo {
    height: 60px;
    width: auto;
    margin-right: 20px;
    display: block;
}

.menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.menu ul li {
    position: relative;
    margin: 0 15px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu ul li a:hover {
    color: #ffa500;
    background-color: rgba(255, 255, 255, 0.2);
}

.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #1d5175;
    padding: 10px 0;
    display: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 5px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li a {
    display: block;
    padding: 10px 20px;
    color: white;
    font-size: 0.9em;
    text-align: left;
}

.dropdown-menu li a:hover {
    background-color: #ffa500;
    color: black;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: #1d5175;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.2s ease;
}

a:hover {
    color: #ffa500;
    text-shadow: 0 0 8px rgba(255, 153, 51, 0.7);
    transform: scale(1.1);
}

ul li a {
    padding: 10px 15px;
    display: block;
    border-radius: 5px;
}

ul li a:hover {
    background-color: rgba(255, 165, 0, 0.2);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: ora1d5175ngered;
    color: white;
    margin-top: 20px;
    margin: 0;
    overflow: hidden;
}

h1 {
    color: white;
    margin-bottom: 10px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7),
        0 0 12px rgba(255, 153, 51, 0.7);
}

h2 {
    margin-bottom: 5px;
    color: orangered;
}

section {
    margin: 20px;
    padding: 1px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f9f9f9;
    width: 50%;
}

h3 {
    color: #1d5175;
}

div {
    text-align: left;
    margin: 0 auto;
    padding-left: 20px;
    color: white;
}

.banner {
    margin-top: 250px;
    right: 0px;
    padding: 20px;
    width: 580px;
    height: 100%;
    float: right;
    text-align: right;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

iframe {
    text-align: left;
    margin: 0 auto;
    padding-left: 20px;
    border-radius: 5px;
}
